@charset "UTF-8";

@font-face {
    font-family: "bold";
    src: url(../fontes/HankenGrotesk-Bold.ttf);
}

@font-face {
    font-family: "extrabold";
    src: url(../fontes/HankenGrotesk-ExtraBold.ttf);
}

@font-face {
    font-family: "medium";
    src: url(../fontes/HankenGrotesk-Medium.ttf);
}

@font-face {
    font-family: "variablefonte_wght";
    src: url(../fontes/HankenGrotesk-VariableFont_wght.ttf);
}

:root{
    --fonte-unica: "variablefonte_wght", "bold", "medium", "extrabold";
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-shadow: none;
    font-family: var(--fonte-unica);
}

body{
    background-color: white;
}

.avo{
    display: flex;
    flex-direction: column;
}

.pai1{
    background-image: linear-gradient(rgb(119, 95, 255) , rgb(67, 54, 255));
    height: 40vh;
    border-radius: 40px;
    margin-top: -40px;
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.filho11{
    color: rgba(255, 255, 255, 0.767);
}

#forte{
    font-size: 4em;
    color: white;
}

.filho12{
    background-image: linear-gradient(rgba(0, 0, 0, 0.253), rgba(0, 0, 0, 0));
    color: rgba(255, 255, 255, 0.507);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-radius: 50%;
}

.filho13{
    color: white;
    font-size: 2em;
}

.filho14{
    color: rgba(255, 255, 255, 0.767);
    font-size: 1.1em;
    width: 70vw;
    padding-bottom: 30px;
    margin-left: 40px;
}

.pai2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 40px;
    row-gap: 22px;
}

.filho21{
    align-self: flex-start;
}

strong{
    color: black;
}

.preto{
    color: rgba(0, 0, 0, 0.570);
}

.filho22{
    width: 90%;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    background-color: rgba(255, 0, 0, 0.060);
    color: red;
}

.filho23{
    width: 90%;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    background-color: rgba(255, 255, 0, 0.060);
    color: rgb(255, 196, 0);
}

.filho24{
    width: 90%;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    background-color: rgba(0, 128, 0, 0.060);
    color: green;
}

.filho25{
    width: 90%;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;

    background-color: rgba(0, 0, 255, 0.060);
    color: blue;
}

.filho26{
    width: 100%;
    padding: 20px;
    border-radius: 50px;

    background-color: rgb(46, 46, 73);
    color: white;

    font-size: 1.2em;
}

.filho26:hover{
    background-image: linear-gradient(rgb(119, 95, 255) , rgb(67, 54, 255));
}